* {
  margin: 0;
  padding: 0;
  caret-color: transparent;
  box-sizing: border-box;
}

.homepage {
  margin: 5px;
  padding: 5px;
  border: 10px solid;
  min-height: 98vh;
}

/*-------------------- spinner------------------------ */
.app-spinner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.app-spinner span {
  font-size: large;
  font-weight: 600;
}

/* ------------------header-style----------------------- */

.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  max-width: 500px;
  min-width: 300px;
  text-align: center;
}

.header h1 {
  margin-top: 15px;
}

.header img {
  width: 35px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  margin-left: 10px;
  background-color: #ff0055;
  border-radius: 50%;
}

.header h1,
.trademark,
.signup-bar,
.declaration {
  margin-top: 13px;
}

.trademark {
  font-size: 13px;
  text-align: center;
}

.trademark sup {
  font-size: 7px;
  font-weight: bold;
}

.signup-bar {
  text-align: center;
  display: flex;
  justify-content: center;
}

.signup-bar input {
  padding: 5px;
  border: 2px solid black;
  color: black;
  caret-color: black;
}

.signup-bar input::placeholder {
  color: gray;
}

.signup-bar button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  padding: 3px;
}

.declaration {
  font-size: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 0.6em;
}

/* ----------------------shoe-list-style---------------------------- */

.shoe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;
}

.shoe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  height: 350px;
  width: 240px;
  margin: 7px;
  border-radius: 1px;
  background-color: rgba(200, 199, 201, 0.442);
}

.shoe-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 10px;
  font-weight: 100;
}

.shoe-id,
.shoe-manufacture-date {
  margin: 15px 10px;
}

.shoe-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shoe-content {
  height: 200px;
  overflow: hidden;
}

.shoe-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;
  align-content: space-around;
}

.shoe-info-name {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 200;
}

.shoe-info-style {
  font-size: 18px;
  font-weight: 700;
}

.shoe-info-price {
  font-size: 11px;
  font-weight: 700;
}

/* ---------------PRODUCT PAGE ---------------------------------*/

.product-container {
  min-height: 100vh;
  border: 10px solid;
  max-width: 100vw;
}

.product-btn {
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  color: black;
  font-size: small;
  font-weight: 700;
}

.nav-buttons {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.product-display {
  display: flex;
  justify-content: space-around;
}

.product-card {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0px;
  padding: 20px;
}

.product-seller-info {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-seller-name {
  font-weight: 600;
  margin-right: 10px;
  font-size: larger;
}

.product-seller-img {
  border: 3px solid;
}

.product-main-img {
  height: 500px;
  overflow: hidden;
}

.product-main-img img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}

.product-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  margin: 100px 0px;
}

.product-info-head {
  margin-bottom: 30px;
}

.product-info-paragraph {
  font-weight: 100;
}

.btn-div {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.buy-btn {
  height: 70px;
  width: 220px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: large;
  border: none;
  padding: 10px;
}

/* -------------------- TAGS ------------------- */

.tags-list {
  display: flex;
  flex: 1;
}

.tag-box {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 3px solid;
}

.tag.text {
  text-transform: lowercase;
  font-weight: 700;
}
