* {
  caret-color: transparent;
  box-sizing: border-box;
}

.App {
  border: 10px solid;
}
/*-------------------- spinner------------------------ */
.app-spinner{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.app-spinner span{
  font-size: large;
  font-weight: 600;
}


/* ------------------header-style----------------------- */

.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  max-width: 500px;
  min-width: 300px;
  text-align: center;
}
.header h1 {
  margin-top: 15px;
}
.header img {
  width: 35px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  margin-left: 10px;
  background-color: #ff0055;
  border-radius: 50%;
}
.header h1,
.trademark,
.signup-bar,
.declaration {
  margin-top: 13px;
}
.trademark {
  font-size: 13px;
  text-align: center;
}
.trademark sup {
  font-size: 7px;
  font-weight: bold;
}

.signup-bar {
  text-align: center;
  display: flex;
  justify-content: center;
}

.signup-bar input {
  padding: 5px;
  border: 2px solid black;
  color: black;
  caret-color: black;
}

.signup-bar input::placeholder {
  color: gray;
}

.signup-bar button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
}

.declaration {
  font-size: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 0.6em;
}
/* ----------------------shoe-list-style---------------------------- */

.shoe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;

}
.shoe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  height: 350px;
  width: 240px;
  margin: 7px;
  border-radius: 1px;
  background-color: rgba(200, 199, 201, 0.442);
}
.shoe-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 10px;
  font-weight: 100;
}
.shoe-id,
.shoe-manufacture-date {
  margin: 15px 10px;
}

.shoe-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.shoe-content {
  height: 200px;
  overflow: hidden;
}
.shoe-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5px;
  align-content: space-around;
}
.shoe-info-name {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 200;
}
.shoe-info-style {
  font-size: 16px;
  font-weight: 700;
}
.shoe-info-price {
  font-size: 11px;
  font-weight: 700;
}
